

.log {
  margin: 10px 30px;
  display: block;
}

.link {
  margin-left: 30px;
  color: blue !important;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline !important;
}

codemirror {
  margin-bottom: 15px;
  display: block;
}
